In [11]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_rows', None) #Allows for cell to contain maximum number of columns and rows. 
pd.set_option ('display.max_columns', None)

In [12]:
df_churn = pd.read_csv(r"/Users/arthurk.richards/Downloads/Bank Customer Churn Prediction.csv")

In [13]:
#Due to it being a Kaggle Dataset, there is very little cleaning for the column names needed. Generally I would place all the strings in lowercase and add _

In [14]:
df_churn.head().T

                          0          1          2         3          4
customer_id        15634602   15647311   15619304  15701354   15737888
credit_score            619        608        502       699        850
country              France      Spain     France    France      Spain
gender               Female     Female     Female    Female     Female
age                      42         41         42        39         43
tenure                    2          1          8         1          2
balance                 0.0   83807.86   159660.8       0.0  125510.82
products_number           1          1          3         2          1
credit_card               1          0          1         0          1
active_member             1          1          0         0          1
estimated_salary  101348.88  112542.58  113931.57  93826.63    79084.1
churn                     1          0          1         0          0

In [15]:
df_churn.credit_score.max()

850

In [16]:
df_churn.credit_score.min()

350

In [17]:
df_churn.dtypes

customer_id           int64
credit_score          int64
country              object
gender               object
age                   int64
tenure                int64
balance             float64
products_number       int64
credit_card           int64
active_member         int64
estimated_salary    float64
churn                 int64
dtype: object

In [18]:
df_churn.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [19]:
len(df_churn)

10000

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
df_full_train, df_test =train_test_split(df_churn,test_size=0.2,random_state=1)

In [22]:
len(df_full_train), len(df_test)

(8000, 2000)

In [23]:
#In order to make sure we have the appropriate numbers, we now calculate how much 20% (the val_test) is of 80% (full train) which gives us 1/4 or 25%

In [24]:
df_train, df_val = train_test_split(df_full_train,test_size=0.25,random_state=1)

In [25]:
len(df_train),len(df_val),len(df_test)

(6000, 2000, 2000)

In [26]:
df_train.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
4495,15657317,789,France,Female,32,7,69423.52,1,1,0,107499.39,0
6470,15616630,583,Germany,Female,41,5,77647.60,1,1,0,190429.52,0
2221,15736069,767,Germany,Female,35,6,132253.22,1,1,0,115566.57,1
7686,15675450,718,France,Male,48,9,0.00,2,1,1,72105.63,0
9419,15798605,686,Germany,Male,26,1,57422.62,1,1,1,79189.40,0

In [27]:
#Now I need to reset index in order to remove the new initial column and to begin with the customer_id

In [28]:
df_train= df_train.reset_index(drop=True)
df_val= df_val.reset_index(drop=True)
df_test= df_test.reset_index(drop=True)

In [29]:
#In some Datasets there is a need to cast the churn column into INT 64 as it's currently a string such as "Yes" or "No". In this case there is no need.
#Using "Values" creates the numpy array

In [30]:
y_train = df_train.churn.values
y_val= df_val.churn.values
y_test=df_test.churn.values

In [31]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

In [32]:
len(df_full_train)

8000

In [33]:
#why do I have full train as well and not just the other 3 splits?

In [34]:
df_full_train.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
2694,15721585,628,Germany,Male,29,3,113146.98,2,0,1,124749.08,0
5140,15617790,626,France,Female,29,4,105767.28,2,0,0,41104.82,0
2568,15775905,612,Germany,Female,47,6,130024.87,1,1,1,45750.21,1
3671,15616666,646,Germany,Female,52,6,111739.40,2,0,1,68367.18,0
7427,15664720,714,Spain,Male,33,8,122017.19,1,0,0,162515.17,0

In [35]:
df_full_train=df_full_train.reset_index(drop=True)

In [36]:
df_full_train.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15721585,628,Germany,Male,29,3,113146.98,2,0,1,124749.08,0
1,15617790,626,France,Female,29,4,105767.28,2,0,0,41104.82,0
2,15775905,612,Germany,Female,47,6,130024.87,1,1,1,45750.21,1
3,15616666,646,Germany,Female,52,6,111739.40,2,0,1,68367.18,0
4,15664720,714,Spain,Male,33,8,122017.19,1,0,0,162515.17,0

In [37]:
df_full_train.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [38]:
df_full_train.churn.value_counts(normalize=True)

0    0.79725
1    0.20275
Name: churn, dtype: float64

In [39]:
#This gives me a quick bird's eye view of the number of clients that have churned, so a 20% churn rate

In [40]:
global_churn_rate =df_full_train.churn.mean()

In [41]:
global_churn_rate

0.20275

In [42]:
df_full_train.dtypes

customer_id           int64
credit_score          int64
country              object
gender               object
age                   int64
tenure                int64
balance             float64
products_number       int64
credit_card           int64
active_member         int64
estimated_salary    float64
churn                 int64
dtype: object

In [43]:
df_full_train.columns

Index(['customer_id', 'credit_score', 'country', 'gender', 'age', 'tenure',
       'balance', 'products_number', 'credit_card', 'active_member',
       'estimated_salary', 'churn'],
      dtype='object')

In [44]:
numerical = ['credit_score','age','tenure','balance','products_number','credit_card','active_member','estimated_salary']

In [45]:
categorical = ['country','gender']

In [46]:
df_full_train.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15721585,628,Germany,Male,29,3,113146.98,2,0,1,124749.08,0
1,15617790,626,France,Female,29,4,105767.28,2,0,0,41104.82,0
2,15775905,612,Germany,Female,47,6,130024.87,1,1,1,45750.21,1
3,15616666,646,Germany,Female,52,6,111739.40,2,0,1,68367.18,0
4,15664720,714,Spain,Male,33,8,122017.19,1,0,0,162515.17,0

In [47]:
df_full_train.products_number.value_counts()

1    4062
2    3670
3     219
4      49
Name: products_number, dtype: int64

In [48]:
df_full_train[df_full_train.gender == 'Male'].churn.mean()

0.16375746440055122

In [49]:
df_full_train[df_full_train.gender == 'Female'].churn.mean()

0.24931431705979154

In [50]:
#I can look at Churn with Products versus 1 product and churn with or without credit card.

In [51]:
churn_w_card = df_full_train[df_full_train.credit_card == 1].churn.mean()
churn_w_card

0.19908062234794907

In [52]:
churn_wo_card = df_full_train[df_full_train.credit_card == 0].churn.mean()
churn_wo_card

0.21160409556313994

In [53]:
for c in categorical:
    df_group = df_full_train.groupby(c).churn.agg(['mean','count'])
    df_group['diff'] = df_group['mean'] - global_churn_rate
    df_group['risk'] = df_group['mean'] / global_churn_rate
    display(df_group)
    print()
    print()

             mean  count      diff      risk
country
France   0.160991   3994 -0.041759  0.794039
Germany  0.318227   2030  0.115477  1.569552
Spain    0.168522   1976 -0.034228  0.831183

            mean  count      diff      risk
gender
Female  0.249314   3646  0.046564  1.229664
Male    0.163757   4354 -0.038993  0.807682

In [54]:
from sklearn.metrics import mutual_info_score

In [55]:
df_full_train.columns

Index(['customer_id', 'credit_score', 'country', 'gender', 'age', 'tenure',
       'balance', 'products_number', 'credit_card', 'active_member',
       'estimated_salary', 'churn'],
      dtype='object')

In [56]:
mutual_info_score(df_full_train.churn,df_full_train.tenure)

0.0009036544350934303

In [59]:
mutual_info_score(df_full_train.churn,df_full_train.country)

0.013116676495915996

In [60]:
mutual_info_score(df_full_train.churn,df_full_train.gender)

0.005597825911437898

In [61]:
def mutual_info_churn_score(x):
    return mutual_info_score(df_full_train.churn,x)

In [62]:
df_full_train[categorical].apply(mutual_info_churn_score).sort_values()

gender     0.005598
country    0.013117
dtype: float64

In [63]:
df_full_train[numerical].corrwith(df_full_train.churn)

credit_score       -0.026420
age                 0.278079
tenure             -0.008248
balance             0.116926
products_number    -0.040868
credit_card        -0.014177
active_member      -0.159633
estimated_salary    0.006483
dtype: float64

In [64]:
df_full_train[df_full_train.age < 30].churn.mean()

0.07415902140672782

In [67]:
df_full_train[(df_full_train.age > 30) & (df_full_train.age < 40)].churn.mean()

0.11583487369069624

In [68]:
df_full_train[(df_full_train.age > 18) & (df_full_train.age < 30)].churn.mean()

0.07375776397515528

In [69]:
df_full_train[(df_full_train.age > 40) & (df_full_train.age < 50)].churn.mean()

0.3250289687137891

In [70]:
df_full_train[(df_full_train.age > 50) & (df_full_train.age < 80)].churn.mean()

0.44659206510681587

In [71]:
from sklearn.feature_extraction import DictVectorizer

In [72]:
train_dicts = df_train[categorical + numerical].to_dict(orient='records')

In [73]:
train_dicts[0]

{'country': 'France',
 'gender': 'Female',
 'credit_score': 789,
 'age': 32,
 'tenure': 7,
 'balance': 69423.52,
 'products_number': 1,
 'credit_card': 1,
 'active_member': 0,
 'estimated_salary': 107499.39}

In [74]:
dv = DictVectorizer(sparse=False)

In [75]:
dv.fit(train_dicts)

DictVectorizer(sparse=False)

In [76]:
dv.get_feature_names_out()

array(['active_member', 'age', 'balance', 'country=France',
       'country=Germany', 'country=Spain', 'credit_card', 'credit_score',
       'estimated_salary', 'gender=Female', 'gender=Male',
       'products_number', 'tenure'], dtype=object)

In [77]:
dv.transform(train_dicts[:5])[0]

array([0.0000000e+00, 3.2000000e+01, 6.9423520e+04, 1.0000000e+00,
       0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.8900000e+02,
       1.0749939e+05, 1.0000000e+00, 0.0000000e+00, 1.0000000e+00,
       7.0000000e+00])

In [ ]:
#I believe I'm supposed to have an identity matrix here, and that is not currently what I have.

In [78]:
X_train = dv.fit_transform(train_dicts)

In [79]:
X_train.shape

(6000, 13)

In [80]:
val_dicts = df_val[categorical+numerical].to_dict(orient='records')

In [81]:
X_val=dv.fit_transform(val_dicts)

In [82]:
from sklearn.linear_model import LogisticRegression

In [83]:
len(y_train)

6000

In [84]:
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [86]:
model.coef_[0].round(3)

array([-0.001,  0.044,  0.   , -0.001,  0.001, -0.   , -0.   , -0.005,
       -0.   ,  0.001, -0.001, -0.   , -0.002])

In [87]:
model.predict_proba(X_train)

array([[0.92364911, 0.07635089],
       [0.76055702, 0.23944298],
       [0.88666502, 0.11333498],
       ...,
       [0.64055491, 0.35944509],
       [0.88826418, 0.11173582],
       [0.65454913, 0.34545087]])