In [13]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_rows', None) #Allows for cell to contain maximum number of columns and rows. 
pd.set_option ('display.max_columns', None)

In [14]:
df_churn = pd.read_csv(r"/Users/arthurk.richards/Downloads/Bank Customer Churn Prediction.csv")

In [15]:
#Due to it being a Kaggle Dataset, there is very little cleaning for the column names needed. Generally I would place all the strings in lowercase and add _

In [16]:
df_churn.head().T

                          0          1          2         3          4
customer_id        15634602   15647311   15619304  15701354   15737888
credit_score            619        608        502       699        850
country              France      Spain     France    France      Spain
gender               Female     Female     Female    Female     Female
age                      42         41         42        39         43
tenure                    2          1          8         1          2
balance                 0.0   83807.86   159660.8       0.0  125510.82
products_number           1          1          3         2          1
credit_card               1          0          1         0          1
active_member             1          1          0         0          1
estimated_salary  101348.88  112542.58  113931.57  93826.63    79084.1
churn                     1          0          1         0          0

In [17]:
df_churn.credit_score.max()

850

In [18]:
df_churn.credit_score.min()

350

In [19]:
df_churn.dtypes

customer_id           int64
credit_score          int64
country              object
gender               object
age                   int64
tenure                int64
balance             float64
products_number       int64
credit_card           int64
active_member         int64
estimated_salary    float64
churn                 int64
dtype: object

In [21]:
df_churn.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [26]:
len(df_churn)

10000

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
df_full_train, df_test =train_test_split(df_churn,test_size=0.2,random_state=1)

In [25]:
len(df_full_train), len(df_test)

(8000, 2000)

In [27]:
#In order to make sure we have the appropriate numbers, we now calculate how much 20% (the val_test) is of 80% (full train) which gives us 1/4 or 25%

In [28]:
df_train, df_val = train_test_split(df_full_train,test_size=0.25,random_state=1)

In [29]:
len(df_train),len(df_val),len(df_test)

(6000, 2000, 2000)

In [30]:
df_train.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
4495,15657317,789,France,Female,32,7,69423.52,1,1,0,107499.39,0
6470,15616630,583,Germany,Female,41,5,77647.60,1,1,0,190429.52,0
2221,15736069,767,Germany,Female,35,6,132253.22,1,1,0,115566.57,1
7686,15675450,718,France,Male,48,9,0.00,2,1,1,72105.63,0
9419,15798605,686,Germany,Male,26,1,57422.62,1,1,1,79189.40,0

In [ ]:
#Now I need to reset index in order to remove the new initial column and to begin with the customer_id